/Assignment3/Code/slprj
/Assignment1/Code/Code.zip
/Assignment1/Report/
/Assignment2/Code/Assignment1Problem2_AlexAndDaniel.zip
/Assignment2/Code/TTK4190_Assignment1.pdf
/Assignment2/Code/attitude4.m
/Assignment2/Code/kakearney-line2arrow-pkg-8aead6f/

*.asv
